@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* 미디어월 공통 */
.media_common_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 160px 60px 160px ;
}

.media_common_header {
  display: flex;
  flex-direction: column;
}

.media_common_header_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px;
  color: #FFF;
}

.media_common_header_en {
  font-family: "Pretendard", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  color: #8B95A1;
}

.media_common_header_time {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 4.8px;
  color: #FFF;
}

.media_common_header_date {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #FFF;
}

.media_common_black {
  color: #191F28 !important;
}

@media (width: 1920px) {
  .media_common_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px 30px 80px ;
  }

  .media_common_header {
    display: flex;
    flex-direction: column;
  }

  .media_common_header_kr {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-bottom: 8px;
    color: #FFF;
  }

  .media_common_header_en {
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #8B95A1;
  }

  .media_common_header_time {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: right;
    letter-spacing: 2.4px;
    color: #FFF;
  }

  .media_common_header_date {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #FFF;
  }
}

/* 미디어월 메인 */
.media_main_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaMainBg.svg) no-repeat top center;
  background-size: cover;
}

.media_main_message {
  font-family: "Pretendard", sans-serif;
  font-size: 140px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  margin-top: 434px;
  margin-bottom: 60px;
  margin-left: 400px;
  animation: slideUp 0.8s ease-out forwards;
  letter-spacing: -3.5px;
  color: #191F28;
}

.media_main_message span {
  font-family: "Pretendard", sans-serif;
  font-size: 140px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -3.5px;
  color: #191F28;
}

.media_main_caption {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  margin-left: 410px;
  animation: slideUp 0.8s ease-out forwards;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFF;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.media_main_ticker {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
}

.media_main_ticker_message {
  font-family: "Pretendard", sans-serif;
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 100%;
  padding: 37.5px 0 37.5px 501.633px;
  animation: ticker-scroll 50s linear infinite;
  white-space: nowrap;
  color: #FFF;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (width: 1920px) {
  .media_main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/mediaMainBg.svg) no-repeat top center;
    background-size: cover;
  }

  .media_main_message {
    font-family: "Pretendard", sans-serif;
    font-size: 70px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    margin-top: 217px;
    margin-bottom: 30px;
    margin-left: 200px;
    animation: slideUp 0.8s ease-out forwards;
    letter-spacing: -1.75px;
    color: #191F28;
  }

  .media_main_message span {
    font-family: "Pretendard", sans-serif;
    font-size: 70px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.75px;
    color: #191F28;
  }

  .media_main_caption {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    margin-left: 205px;
    animation: slideUp 0.8s ease-out forwards;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .media_main_ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
  }

  .media_main_ticker_message {
    font-family: "Pretendard", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: 100%;
    padding: 18.75px 0 18.75px 250px;
    animation: ticker-scroll 50s linear infinite;
    white-space: nowrap;
    color: #FFF;
  }

  @keyframes ticker-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* 미디어월 공지사항 */
.media_notice_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaNoticeBg.svg) no-repeat top center;
  background-size: cover;
}

.media_notice_content_wrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 139px;
  margin-left: 513px;
  gap: 175px;
}

.media_notice_selected_book {
  z-index: 999;
  width: 940px;
  height: 1330px;
  animation: fadeAndZoom 10s infinite;
  border-radius: 24px;
  object-fit: cover;
}

.media_notice_content {
  display: flex;
  flex-direction: column;
  gap: 282px;
}

.media_notice_selected_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  z-index: 999;
  overflow: hidden;
  width: 1400px;
  animation: fadeAndZoom 10s infinite;
  white-space: nowrap;
  letter-spacing: -2.5px;
  text-overflow: ellipsis;
  color: #FFF;
}

.media_notice_selected_book_title span {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 200px;
  font-weight: 250;
  font-style: normal;
  line-height: 120%;
  color: #6B7684;
}

.media_notice_list {
  display: flex;
  animation: fadeAndZoom 10s infinite;
  gap: 80px;
}

.media_notice_list_item {
  display: flex;
  flex-direction: column;
  gap: 26.37px;
}

@keyframes fadeAndZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10%, 90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.media_notice_list_item div {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  line-height: 120%;
  color: #ADB5BD;
}

.media_notice_list_item img {
  width: 380px;
  height: 538px;
  border-radius: 14.663px;
  object-fit: cover;
}

.media_notice_start_1,
.media_notice_start_2,
.media_notice_start_3,
.media_notice_start_4 {
  position: absolute;
  animation: shooting-star 4s ease-out infinite;
  border-radius: 50%;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.media_notice_start_1 {
  top: -170px;
  left: 600px;
  width: 120px;
  height: 120px;
  animation-delay: 1s;
}

.media_notice_start_2 {
  top: -300px;
  left: 2000px;
  width: 140px;
  height: 140px;
  animation-delay: 2s;
}

.media_notice_start_3 {
  top: -300px;
  left: 3200px;
  width: 142px;
  height: 142px;
  animation-delay: 3s;
}

.media_notice_start_4 {
  top: 100px;
  right: -300px;
  width: 120px;
  height: 120px;
  animation-delay: 1s;
}

@keyframes shooting-star {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  70% {
    opacity: 1;
    transform: translate(-800px, 800px) scale(0.5) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(-800px, 800px) scale(0);
  }
}

@media (width: 1920px) {
  .media_notice_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/mediaNoticeBg.svg) no-repeat top center;
    background-size: cover;
  }

  .media_notice_content_wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 69.5px;
    margin-left: 256.5px;
    gap: 87.5px;
  }

  .media_notice_selected_book {
    z-index: 999;
    width: 470px;
    height: 665px;
    animation: fadeAndZoom 10s infinite;
    border-radius: 12px;
    object-fit: cover;
  }

  .media_notice_content {
    display: flex;
    flex-direction: column;
    gap: 141px;
  }

  .media_notice_selected_book_title {
    font-family: "Pretendard", sans-serif;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    z-index: 999;
    overflow: hidden;
    width: 700px;
    animation: fadeAndZoom 10s infinite;
    white-space: nowrap;
    letter-spacing: -1.25px;
    text-overflow: ellipsis;
    color: #FFF;
  }

  .media_notice_selected_book_title span {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 100px;
    font-weight: 250;
    font-style: normal;
    line-height: 120%;
    color: #6B7684;
  }

  .media_notice_list {
    display: flex;
    animation: fadeAndZoom 10s infinite;
    gap: 40px;
  }

  .media_notice_list_item {
    display: flex;
    flex-direction: column;
    gap: 13.185px;
  }

  @keyframes fadeAndZoom {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    10%, 90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  .media_notice_list_item div {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 120%;
    color: #ADB5BD;
  }

  .media_notice_list_item img {
    width: 190px;
    height: 269px;
    border-radius: 7.3315px;
    object-fit: cover;
  }

  .media_notice_start_1,
  .media_notice_start_2,
  .media_notice_start_3,
  .media_notice_start_4 {
    position: absolute;
    animation: shooting-star 4s ease-out infinite;
    border-radius: 50%;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .media_notice_start_1 {
    top: -85px;
    left: 300px;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
  }

  .media_notice_start_2 {
    top: -150px;
    left: 1000px;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
  }

  .media_notice_start_3 {
    top: -150px;
    left: 1600px;
    width: 71px;
    height: 71px;
    animation-delay: 3s;
  }

  .media_notice_start_4 {
    top: 50px;
    right: -150px;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
  }

  @keyframes shooting-star {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    70% {
      opacity: 1;
      transform: translate(-400px, 400px) scale(0.5) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translate(-400px, 400px) scale(0);
    }
  }
}

/* 미디어월 도서 정보 */
.media_best_book_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaBestBookBg.svg) no-repeat top center;
  background-size: cover;
}

.media_best_book_content_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 134px;
  gap: 185.1px;
}

.media_best_book_top_content {
  display: flex;
  margin-left: 260px;
  gap: 200px;
}

.media_best_book_bottom_content {
  display: flex;
  margin-left: 262px;
  gap: 131px;
}

.media_best_book_content {
  display: flex;
  gap: 100px;
}

.media_best_book_img_wrapper {
  position: relative;
}

.media_best_book_img_wrapper img {
  width: 460px;
  height: 650.9px;
  border-radius: 40px;
  box-shadow: 30px 30px 25px 0 rgba(0, 0, 0, 0.10);
  object-fit: cover;
}

.media_best_book_img_wrapper div {
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  position: absolute;
  top: 50px;
  left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  text-align: center;
  letter-spacing: 0.8px; text-transform: uppercase;
  color: #FFF;
  border-radius: 50%;
  background-color: black;
}

.media_best_book_text {
  display: flex;
  flex-direction: column;
}

.media_best_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 1000px;
  margin-top: 50.95px;
  margin-bottom: 20px;
  white-space: nowrap;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #191F28;
}

.media_best_book_information {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 1000px;
  margin-bottom: 40px;
  white-space: nowrap;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #6B7684;
}

.media_best_book_summary {
  font-family: "Pretendard", sans-serif;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  display: -webkit-box;
  overflow: hidden;
  width: 1000px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #191F28;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.media_best_book_list_item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.media_best_book_list_item_img_wrapper {
  position: relative;
}

.media_best_book_list_item_img_wrapper img {
  width: 300px;
  height: 424px;
  border-radius: 20px;
  box-shadow: 30px 30px 25px 0 rgba(0, 0, 0, 0.10);
  object-fit: cover;
}

.media_best_book_list_item_img_wrapper div {
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  position: absolute;
  top: 34px;
  left: -31px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  text-align: center;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 50%;
  background-color: black;
}

.media_best_book_list_item_title {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  display: -webkit-box;
  overflow: hidden;
  width: 300px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #191F28;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (width: 1920px) {
  .media_best_book_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/mediaBestBookBg.svg) no-repeat top center;
    background-size: cover;
  }

  .media_best_book_content_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    gap: 92.55px;
  }

  .media_best_book_top_content {
    display: flex;
    margin-left: 130px;
    gap: 100px;
  }

  .media_best_book_bottom_content {
    display: flex;
    margin-left: 131px;
    gap: 65.5px;
  }

  .media_best_book_content {
    display: flex;
    gap: 50px;
  }

  .media_best_book_img_wrapper {
    position: relative;
  }

  .media_best_book_img_wrapper img {
    width: 230px;
    height: 325.45px;
    border-radius: 20px;
    box-shadow: 15px 15px 12.5px 0 rgba(0, 0, 0, 0.10);
    object-fit: cover;
  }

  .media_best_book_img_wrapper div {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    position: absolute;
    top: 25px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50%;
    background-color: black;
  }

  .media_best_book_text {
    display: flex;
    flex-direction: column;
  }

  .media_best_book_title {
    font-family: "Pretendard", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 500px;
    margin-top: 25.475px;
    margin-bottom: 10px;
    white-space: nowrap;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #191F28;
  }

  .media_best_book_information {
    font-family: "Pretendard", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 500px;
    margin-bottom: 20px;
    white-space: nowrap;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #6B7684;
  }

  .media_best_book_summary {
    font-family: "Pretendard", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    display: -webkit-box;
    overflow: hidden;
    width: 500px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #191F28;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .media_best_book_list_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .media_best_book_list_item_img_wrapper {
    position: relative;
  }

  .media_best_book_list_item_img_wrapper img {
    width: 150px;
    height: 212px;
    border-radius: 10px;
    box-shadow: 15px 15px 12.5px 0 rgba(0, 0, 0, 0.10);
    object-fit: cover;
  }

  .media_best_book_list_item_img_wrapper div {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    position: absolute;
    top: 17px;
    left: -15.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    text-align: center;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50%;
    background-color: black;
  }

  .media_best_book_list_item_title {
    font-family: "Pretendard", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    display: -webkit-box;
    overflow: hidden;
    width: 150px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #191F28;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

/* 미디어월 홍보 동영상 */
.media_promotion_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaPromotionBg.svg) no-repeat top center;
  background-size: cover;
}

.media_promotion_content_wrapper {
  display: flex;
  margin-top: 134px;
}

.media_promotion_clock_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 254px;
  margin-left: 104px;
}

.media_promotion_clock {
  position: relative;
  width: 480px;
  height: 480px;
  margin-bottom: 75.94px;
  border-radius: 50%;
  background: url(../img/clock.png) no-repeat top center;
  background-size: cover;
}

.media_promotion_clock_hour,
.media_promotion_clock_minute,
.media_promotion_clock_second {
  position: absolute;
  background-color: #FFFFFF;
}

.media_promotion_clock_hour {
  top: calc(50% - 130px);
  left: calc(50% - 4px);
  width: 3px;
  height: 120px;
  transform-origin: bottom;
}

.media_promotion_clock_minute {
  top: calc(50% - 190px);
  left: calc(50% - 2px);
  width: 3px;
  height: 180px;
  transform-origin: bottom;
}

.media_promotion_clock_second {
  top: calc(50% - 190px);
  left: calc(50% - 1px);
  width: 1px;
  height: 180px;
  transform-origin: bottom;
}

.media_promotion_clock_title {
  font-family: "Pretendard", sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 155.87px;
  text-align: center;
  letter-spacing: 6.12px;
  text-transform: uppercase;
  color: #ADB5BD;
}

.media_promotion_date {
  font-family: "Pretendard", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 9.99px;
  text-align: center;
  letter-spacing: -0.84px;
  text-transform: uppercase;
  color: #FFF;
}

.media_promotion_time {
  font-family: "Century Gothic", sans-serif;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #FFF;
}

.media_promotion_video_wrapper {
  width: 2472px;
  height: 1390px;
  margin-right: 165px;
  margin-left: 100px;
}

.media_promotion_video_wrapper video {
  width: 2472px;
  height: 1390px;
  object-fit: cover;
}

.media_promotion_weather_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 254px;
}

.media_promotion_weather_title {
  font-family: "Pretendard", sans-serif;
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 96.11px;
  text-align: center;
  letter-spacing: 3.74px;
  text-transform: uppercase;
  color: #ADB5BD;
}

.media_promotion_feels_like {
  font-family: "Pretendard", sans-serif;
  font-size: 62px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: -1.24px;
  text-transform: uppercase;
  color: #FFF;
}

.media_promotion_weather_icon {
  width: 340px;
  height: 340px;
  margin-bottom: 100px;
}

.media_promotion_temp {
  font-family: "Century Gothic", sans-serif;
  font-size: 140px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 40.05px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.media_promotion_weather_description {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  color: #FFF;
}

@media (width: 1920px) {
  .media_promotion_content_wrapper {
    display: flex;
    margin-top: 67px;
  }

  .media_promotion_clock_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 127px;
    margin-left: 52px;
  }

  .media_promotion_clock {
    position: relative;
    width: 240px;
    height: 240px;
    margin-bottom: 37.97px;
    border-radius: 50%;
    background: url(../img/clock.png) no-repeat top center;
    background-size: cover;
  }

  .media_promotion_clock_hour,
  .media_promotion_clock_minute,
  .media_promotion_clock_second {
    position: absolute;
    background-color: #FFFFFF;
  }

  .media_promotion_clock_hour {
    top: calc(50% - 65px);
    left: calc(50% - 2px);
    width: 1.5px;
    height: 60px;
    transform-origin: bottom;
  }

  .media_promotion_clock_minute {
    top: calc(50% - 95px);
    left: calc(50% - 1px);
    width: 1.5px;
    height: 90px;
    transform-origin: bottom;
  }

  .media_promotion_clock_second {
    top: calc(50% - 95px);
    left: calc(50% - 1px);
    width: 0.5px;
    height: 90px;
    transform-origin: bottom;
  }


  .media_promotion_clock_title {
    font-family: "Pretendard", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    margin-bottom: 77.935px;
    text-align: center;
    letter-spacing: 6.12px;
    text-transform: uppercase;
    color: #ADB5BD;
  }

  .media_promotion_date {
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin-bottom: 4.995px;
    text-align: center;
    letter-spacing: -0.84px;
    text-transform: uppercase;
    color: #FFF;
  }

  .media_promotion_time {
    font-family: "Century Gothic", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-align: center;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #FFF;
  }

  .media_promotion_video_wrapper {
    width: 1236px;
    height: 695px;
    margin-right: 82.5px;
    margin-left: 50px;
  }

  .media_promotion_video_wrapper video {
    width: 1236px;
    height: 695px;
    object-fit: cover;
  }

  .media_promotion_weather_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 127px;
  }

  .media_promotion_weather_title {
    font-family: "Pretendard", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    margin-bottom: 48.055px;
    text-align: center;
    letter-spacing: 3.74px;
    text-transform: uppercase;
    color: #ADB5BD;
  }

  .media_promotion_feels_like {
    font-family: "Pretendard", sans-serif;
    font-size: 31px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: -1.24px;
    text-transform: uppercase;
    color: #FFF;
  }

  .media_promotion_weather_icon {
    width: 170px;
    height: 170px;
    margin-bottom: 50px;
  }

  .media_promotion_temp {
    font-family: "Century Gothic", sans-serif;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin-bottom: 20.025px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

  }

  .media_promotion_weather_description {
    font-family: "Pretendard", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    color: #FFF;
  }
}

/* 미디어월 이용안내 시간 */
.media_information_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaInformationBg.svg) no-repeat top center;
  background-size: cover;
}

.media_information_table_title {
  font-family: "Pretendard", sans-serif;
  font-size: 160px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-top: 152px;
  margin-bottom: 120px;
  text-align: center;
  letter-spacing: -3.2px;
  color: #191F28;
}

.media_information_table_header {
  display: flex;
  width: 3120px;
  margin-left: 360px;
  border-radius: 40px 40px 0 0;
  background-color: #188FD2;
}

.media_information_table_header_cell {
  font-family: "Pretendard", sans-serif;
  font-size: 68px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 1040px;
  padding: 60px;
  text-align: center;
  letter-spacing: -1.7px;
  color: #FFF;
}

.media_information_table_row {
  display: flex;
  width: 3120px;
  margin-left: 360px;
  border-bottom: 2px solid transparent;
  background-color: #FFFFFF;
}

.media_information_border {
  border-bottom: 2px solid #B9B9B933;
}

.media_information_table_row_cell {
  font-family: "Pretendard", sans-serif;
  font-size: 72px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  width: 1040px;
  padding: 60px;
  text-align: center;
  letter-spacing: -1.8px;
  color: #191F28;
}

.media_information_border_radius {
  border-radius: 0 0 40px 40px;
}

.media_information_boat {
  position: absolute;
  bottom: 136px;
  left: 839px;
  width: 484px;
  height: 198px;
  animation: boatMove 3s ease-in-out infinite;
  background: url(../img/boat.svg) no-repeat top center;
  background-size: cover;
}

@keyframes boatMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (width: 1920px) {
  .media_information_table_title {
    font-family: "Pretendard", sans-serif;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-top: 76px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: -1.6px;
    color: #191F28;
  }

  .media_information_table_header {
    display: flex;
    width: 1560px;
    margin-left: 180px;
    border-radius: 20px 20px 0 0;
    background-color: #188FD2;
  }

  .media_information_table_header_cell {
    font-family: "Pretendard", sans-serif;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    width: 520px;
    padding: 30px;
    text-align: center;
    letter-spacing: -0.85px;
    color: #FFF;
  }

  .media_information_table_row {
    display: flex;
    width: 1560px;
    margin-left: 180px;
    border-bottom: 1px solid transparent;
    background-color: #FFFFFF;
  }

  .media_information_border {
    border-bottom: 1px solid #B9B9B933;
  }

  .media_information_table_row_cell {
    font-family: "Pretendard", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    width: 520px;
    padding: 30px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #191F28;
  }

  .media_information_border_radius {
    border-radius: 0 0 20px 20px;
  }

  .media_information_boat {
    position: absolute;
    bottom: 68px;
    left: 419.5px;
    width: 242px;
    height: 99px;
    animation: boatMove 3s ease-in-out infinite;
    background: url(../img/boat.svg) no-repeat top center;
    background-size: cover;
  }

  @keyframes boatMove {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* 미디어월 대출반납일 */
.media_return_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mediaReturnDateBg.svg) no-repeat top center;
  background-size: cover;
}

.media_return_content {
  display: flex;
  flex-direction: column;
  width: 1960px;
  margin-top: 189px;
  margin-left: 1054px;
}

.media_return_top {
  display: flex;
  height: 500px;
}

.media_return_bottom {
  display: flex;
  height: 500px;
  margin-top: 205px;
}

.media_return_number_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 500px;
}

.media_return_text_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
}

.media_return_number {
  font-family: "Fjalla One", sans-serif;
  font-size: 400px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 8px;
  text-transform: lowercase;
  color: #FFF;
}

.media_return_text {
  font-family: "SeoulNamsan CEB", sans-serif;
  font-size: 360px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  color: #FFF;
}

.media_return_20 {
  margin-right: 20px;
}

.media_return_120 {
  margin-right: 120px;
}

.media_return_number_divider, .media_return_text_divider {
  position: absolute;
  top: 250px;
  left: 5px;
  height: 5px;
  background-color: black;
}

.media_return_number_divider {
  width: 315px;
}

.media_return_text_divider {
  width: 390px;
}

@media (width: 1920px) {
  .media_return_content {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin-top: 94.5px;
    margin-left: 527px;
  }

  .media_return_top {
    display: flex;
    height: 250px;
  }

  .media_return_bottom {
    display: flex;
    height: 250px;
    margin-top: 102.5px;
  }

  .media_return_number_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 250px;
  }

  .media_return_text_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
  }

  .media_return_number {
    font-family: "Fjalla One", sans-serif;
    font-size: 200px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-align: center;
    letter-spacing: 4px;
    text-transform: lowercase;
    color: #FFF;
  }

  .media_return_text {
    font-family: "SeoulNamsan CEB", sans-serif;
    font-size: 180px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-align: center;
    text-transform: lowercase;
    color: #FFF;
  }

  .media_return_20 {
    margin-right: 10px;
  }

  .media_return_120 {
    margin-right: 60px;
  }

  .media_return_number_divider, .media_return_text_divider {
    position: absolute;
    top: 125px;
    left: 2.5px;
    height: 2.5px;
    background-color: black;
  }

  .media_return_number_divider {
    width: 157.5px;
  }

  .media_return_text_divider {
    width: 195px;
  }
}