<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="kiosk_course_detail_container">
			<div class="kiosk_common_header_wrapper">
				<div class="kiosk_common_header_kr">강좌정보</div>
				<div class="kiosk_common_header_en">COURSE INFORMATION</div>
			</div>
			<!--	 강좌정보		-->
			<div class="kiosk_course_detail_content">
				<div class="kiosk_course_detail_title">
					<div class="kiosk_course_detail_badge"><div class="pencil"></div></div>
					<div>
						<div class="kiosk_course_detail_title_label">강좌명</div>
						<div class="kiosk_course_detail_title_value">토요일에 만나는 그림책 읽기(8/31) 강좌명은 2라인 까지 나오게</div>
					</div>
				</div>
				<div class="kiosk_course_detail_date">
					<div class="kiosk_course_detail_badge"><div class="calendar"></div></div>
					<div>
						<div class="kiosk_course_detail_date_label">강좌기간</div>
						<div class="kiosk_course_detail_date_value">2024-08-31 ~ 2024-09-02</div>
					</div>
				</div>
				<div class="kiosk_course_detail_time">
					<div class="kiosk_course_detail_badge"><div class="mouses"></div></div>
					<div>
						<div class="kiosk_course_detail_time_label">강좌기간</div>
						<div class="kiosk_course_detail_time_value">2024-08-31 ~ 2024-09-02</div>
					</div>
				</div>
				<div class="kiosk_course_detail_counter_wrapper">
					<div class="kiosk_course_detail_counter">
						<div class="kiosk_course_detail_counter_label">접수인원</div>
						<div class="kiosk_course_detail_counter_value"><span>0</span><span>/</span>1</div>
					</div>
					<div class="kiosk_course_detail_counter">
						<div class="kiosk_course_detail_counter_label">후보인원</div>
						<div class="kiosk_course_detail_counter_value"><span>0</span><span>/</span>1</div>
					</div>
				</div>
			</div>
			<div class="kiosk_course_detail_list">
				<div class="kiosk_course_detail_list_item">
					<div class="kiosk_course_detail_list_item_label">• 강사명</div>
					<div class="kiosk_course_detail_list_item_value">김민정</div>
				</div>
				<div class="kiosk_course_detail_list_item">
					<div class="kiosk_course_detail_list_item_label">• 강좌시간</div>
					<div class="kiosk_course_detail_list_item_value">김민정</div>
				</div>
				<div class="kiosk_course_detail_list_item">
					<div class="kiosk_course_detail_list_item_label">• 강좌장소</div>
					<div class="kiosk_course_detail_list_item_value">김민정</div>
				</div>
				<div class="kiosk_course_detail_list_item">
					<div class="kiosk_course_detail_list_item_label">• 수강대상</div>
					<div class="kiosk_course_detail_list_item_value">김민정</div>
				</div>
				<div class="kiosk_course_detail_list_item">
					<div class="kiosk_course_detail_list_item_label">• 안내사항</div>
					<div class="kiosk_course_detail_list_item_value">김민정</div>
				</div>
			</div>
			<!--	 신청 btn		-->
			<div class="kiosk_course_detail_apply">신청하기</div>
			<!--	 prev btn		-->
			<div class="kiosk_common_prev_wrapper">
				<div class="kiosk_common_prev_text">이전으로</div>
				<div class="kiosk_common_prev_icon"></div>
			</div>
			<div class="kiosk_common_navigation_bar">
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/notice.svg" />
					<div class="kiosk_common_navi_kr">공지사항</div>
					<div class="kiosk_common_navi_en">NOTICE</div>
				</div>
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/information.svg" />
					<div class="kiosk_common_navi_kr">이용안내</div>
					<div class="kiosk_common_navi_en">INFORMATION</div>
				</div>
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/facility.svg" />
					<div class="kiosk_common_navi_kr">시설안내</div>
					<div class="kiosk_common_navi_en">FACILITY</div>
				</div>
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/newBook.svg" />
					<div class="kiosk_common_navi_kr">신착도서</div>
					<div class="kiosk_common_navi_en">NEW BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/bestBook.svg" />
					<div class="kiosk_common_navi_kr">대출베스트</div>
					<div class="kiosk_common_navi_en">BEST BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item">
					<img alt="" src="/resources/ict/img/course.svg" />
					<div class="kiosk_common_navi_kr">강좌안내</div>
					<div class="kiosk_common_navi_en">COURSE</div>
				</div>
			</div>
		</div>
	</body>
</html>
