<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="kiosk_best_book_container_x">
			<div class="kiosk_common_content_x">
				<div class="kiosk_common_header_wrapper_x">
					<div class="kiosk_common_header_kr_x">대출베스트</div>
					<div class="kiosk_common_header_en_x">BEST BOOK</div>
				</div>
				<div class="kiosk_best_book_wrapper_x">
					<!--	 아이템	 -->
					<div class="kiosk_best_book_x">
						<img alt="" src="/resources/ict/img/dummy.svg" />
						<div class="kiosk_best_book_badge_x">1위</div>
						<div class="kiosk_best_book_title_x">감정호텔</div>
						<div class="kiosk_best_book_writer_x">리디아 브란코비치</div>
						<div class="kiosk_best_book_year_x">2024</div>
					</div>
				</div>
			</div>
			<div class="kiosk_common_navigation_bar_x">
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/notice.svg" />
					<div class="kiosk_common_navi_kr_x">공지사항</div>
					<div class="kiosk_common_navi_en_x">NOTICE</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/information.svg" />
					<div class="kiosk_common_navi_kr_x">이용안내</div>
					<div class="kiosk_common_navi_en_x">INFORMATION</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/facility.svg" />
					<div class="kiosk_common_navi_kr_x">시설안내</div>
					<div class="kiosk_common_navi_en_x">FACILITY</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/newBook.svg" />
					<div class="kiosk_common_navi_kr_x">신착도서</div>
					<div class="kiosk_common_navi_en_x">NEW BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/bestBook.svg" />
					<div class="kiosk_common_navi_kr_x">대출베스트</div>
					<div class="kiosk_common_navi_en_x">BEST BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/course.svg" />
					<div class="kiosk_common_navi_kr_x">강좌안내</div>
					<div class="kiosk_common_navi_en_x">COURSE</div>
				</div>
			</div>
		</div>
	</body>
</html>
