<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="kiosk_information_container_x">
			<div class="kiosk_common_content_x">
				<div class="kiosk_common_header_wrapper_x">
					<div class="kiosk_common_header_kr_x">이용안내</div>
					<div class="kiosk_common_header_en_x">LIBRARY INFORMATION</div>
				</div>
				<div class="kiosk_information_content_x">
					<div class="kiosk_information_content_scroll_x">
						<div>
							<div class="kiosk_information_index_wrapper_x">
								<div class="kiosk_information_index_x">
									<div class="kiosk_information_index_icon_x"></div>
									<div class="kiosk_information_index_text_x">01</div>
								</div>
								<div class="kiosk_information_index_title_x">이용시간</div>
							</div>
							<div class="kiosk_information_content_wrapper_x">
								<div class="kiosk_information_title_x">각 실별 이용시간</div>
								<table class="kiosk_information_first_table_x">
									<thead>
										<tr>
											<th>구분</th>
											<th>평일(월~금)</th>
											<th>주말(토/일)</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="bold">어린이자료실(1층)</td>
											<td>09:00 - 18:00</td>
											<td rowspan="2">09:00 - 17:00</td>
										</tr>
										<tr>
											<td class="bold">종합자료실(3층)</td>
											<td>09:00 - 19:00</td>
										</tr>
										<tr>
											<td class="bold" rowspan="2">열람실(2층)</td>
											<td colspan="2">08:00 - 22:00(동절기 21:00)</td>
										</tr>
									</tbody>
								</table>
								<div class="kiosk_information_title_x">휴관일</div>
								<div class="kiosk_information_list_x">
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">정기휴관일 : 매월 둘째 및 넷째 월요일</div>
									</div>
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">일요일을 제외한 공휴일(단, 일요일과 관공서의 공휴일이 겹치는 경우 휴관)</div>
									</div>
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">국가의 임시공휴일 또는 특별한 사유로 관장이 지정하여 공고하는 날</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="kiosk_information_index_wrapper_x">
								<div class="kiosk_information_index_x">
									<div class="kiosk_information_index_icon_x"></div>
									<div class="kiosk_information_index_text_x">02</div>
								</div>
								<div class="kiosk_information_index_title_x">자료이용</div>
							</div>
							<div class="kiosk_information_content_wrapper_x">
								<div class="kiosk_information_title_x">대출</div>
								<div class="kiosk_information_list_x">
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">
											대출권수 : 1인 10권 이내 <br />
											• 가족회원제 : 2인 이상이 우리 센터 관외대출회원으로 가입된 경우 가족임을 확인할 수 있는 서류 (주민등록등본 또는 가족관계증명서) 제시 후 가족회원으로 등록 후 가족 구성원
											1명(중학생 이상)이 자료 일괄 대출 가능
										</div>
									</div>
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">스마트무인도서관 : 1인 2권 이내(24시간 운영), 회원증(모바일회원증) 스캔 후 이용</div>
									</div>
								</div>
								<table class="kiosk_information_second_table_x">
									<thead>
										<tr>
											<th>구분</th>
											<th>내용</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="bold">대출기한</td>
											<td>14일간(연장불가)</td>
										</tr>
										<tr>
											<td class="bold">반납연체</td>
											<td>반납예정일을 넘길 경우 연체일 만큼 대출정지</td>
										</tr>
										<tr>
											<td class="bold">대출도서 분실</td>
											<td>동일 자료로 변상</td>
										</tr>
										<tr>
											<td class="bold">휴관일</td>
											<td>관내 대출불가, 스마트무인도서관 이용가능</td>
										</tr>
									</tbody>
								</table>
								<div class="kiosk_information_title_x">예약/취소</div>
								<div class="kiosk_information_list_x">
									<div class="kiosk_information_list_item_x">
										<div class="kiosk_information_list_item_icon_x"></div>
										<div class="kiosk_information_list_item_text_x">
											예약도서 신청 <br />
											• 대출 중인 도서에 한하여 1인 3권, 1책당 5명 예약 가능
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kiosk_common_prev_wrapper_x">
				<div class="kiosk_common_prev_text_x">이전으로</div>
				<div class="kiosk_common_prev_icon_x"></div>
			</div>
			<div class="kiosk_common_navigation_bar_x">
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/notice.svg" />
					<div class="kiosk_common_navi_kr_x">공지사항</div>
					<div class="kiosk_common_navi_en_x">NOTICE</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/information.svg" />
					<div class="kiosk_common_navi_kr_x">이용안내</div>
					<div class="kiosk_common_navi_en_x">INFORMATION</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/facility.svg" />
					<div class="kiosk_common_navi_kr_x">시설안내</div>
					<div class="kiosk_common_navi_en_x">FACILITY</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/newBook.svg" />
					<div class="kiosk_common_navi_kr_x">신착도서</div>
					<div class="kiosk_common_navi_en_x">NEW BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/bestBook.svg" />
					<div class="kiosk_common_navi_kr_x">대출베스트</div>
					<div class="kiosk_common_navi_en_x">BEST BOOK</div>
				</div>
				<div class="kiosk_common_navigation_bar_item_x">
					<img alt="" src="/resources/ict/img/course.svg" />
					<div class="kiosk_common_navi_kr_x">강좌안내</div>
					<div class="kiosk_common_navi_en_x">COURSE</div>
				</div>
			</div>
		</div>
	</body>
</html>
