<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="media_line_container">
			<div class="media_common_header_wrapper">
				<div class="media_common_header">
					<div class="media_common_header_kr">책속한줄</div>
					<div class="media_common_header_en">A LINE OF BOOK</div>
				</div>
				<div class="media_common_header">
					<div class="media_common_header_time"></div>
					<div class="media_common_header_date"></div>
				</div>
			</div>
			<div class="media_line_slider">
				<div class="media_line_title">우리는 인생의 날들을 늘릴 수는 없지만, 그 날들에 생기를 불어넣을 수는 있다.</div>
				<div class="media_line_caption">‘당신의 완벽한 1년’ 중에서</div>
			</div>
		</div>
	</body>
</html>
