<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="media_return_container">
			<div class="media_common_header_wrapper">
				<div class="media_common_header">
					<div class="media_common_header_kr media_common_black">대출반납일</div>
					<div class="media_common_header_en">BOOK LOAN RETURN DATE</div>
				</div>
				<div class="media_common_header">
					<div class="media_common_header_time media_common_black"></div>
					<div class="media_common_header_date media_common_black"></div>
				</div>
			</div>
			<div class="media_return_content">
				<!--	 대출일	 	-->
				<div class="media_return_top">
					<div class="media_return_number_wrapper media_return_20">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_120">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_20">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_120">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_text_wrapper">
						<div class="media_return_text">금</div>
						<div class="media_return_text_divider"></div>
					</div>
				</div>
				<!--	 반납일	 	-->
				<div class="media_return_bottom">
					<div class="media_return_number_wrapper media_return_20">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_120">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_20">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_number_wrapper media_return_120">
						<div class="media_return_number">9</div>
						<div class="media_return_number_divider"></div>
					</div>
					<div class="media_return_text_wrapper">
						<div class="media_return_text">금</div>
						<div class="media_return_text_divider"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
