<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="media_notice_container">
			<div class="media_common_header_wrapper">
				<div class="media_common_header">
					<div class="media_common_header_kr">공지사항</div>
					<div class="media_common_header_en">LIBRARY NOTICE</div>
				</div>
				<div class="media_common_header">
					<div class="media_common_header_time"></div>
					<div class="media_common_header_date"></div>
				</div>
			</div>
			<!--	 꾸밈 요소		-->
			<div class="media_notice_start_1"></div>
			<div class="media_notice_start_2"></div>
			<div class="media_notice_start_3"></div>
			<div class="media_notice_start_4"></div>
			<div class="media_notice_content_wrapper">
				<!--		10초에 한번씩 리스트 변경 / 페이지 렌더링 후 10초에 한번씩 console 찍어놨어용		-->
				<img alt="" class="media_notice_selected_book" src="/resources/ict/img/dummy.svg" />
				<div class="media_notice_content">
					<div class="media_notice_selected_book_title"><span>01</span><br />도서관의 비밀을 찾아라 QR코드!</div>
					<!--		셀렉티드 북 ( 큰 이미지 ) 다음 인덱스 4개 나열			-->
					<div class="media_notice_list">
						<div class="media_notice_list_item">
							<div>02</div>
							<img alt="" src="/resources/ict/img/dummy.svg" />
						</div>
						<div class="media_notice_list_item">
							<div>02</div>
							<img alt="" src="/resources/ict/img/dummy.svg" />
						</div>
						<div class="media_notice_list_item">
							<div>02</div>
							<img alt="" src="/resources/ict/img/dummy.svg" />
						</div>
						<div class="media_notice_list_item">
							<div>02</div>
							<img alt="" src="/resources/ict/img/dummy.svg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			<!--	 렌더링 후 10초에 한번씩 trigger / 나중에 지워주세요		-->
			$(function () {
				setInterval(function () {
					console.log('대리님 얍!!!!!!!!!!!!!!!!!');
				}, 10000);
			});
		</script>
	</body>
</html>
