<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<link href="../../../../resources/ict/css/font.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/reset.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="../../../../resources/ict/css/swiper-bundle.min.css" rel="stylesheet" type="text/css " />
		<script src="../../../../resources/ict/plugin/jquery-3.7.1.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/plugin/swiper-bundle.min.js" type="text/javascript"></script>
		<script src="../../../../resources/ict/js/script.js" type="text/javascript"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="media_best_book_container">
			<!--	 공통 헤더 / 배경 색상마다 폰트 컬러가 달라 media_common_black 클래스 추가됨	 	-->
			<div class="media_common_header_wrapper">
				<div class="media_common_header">
					<div class="media_common_header_kr media_common_black">인기도서</div>
					<div class="media_common_header_en">BEST BOOK</div>
				</div>
				<div class="media_common_header">
					<div class="media_common_header_time media_common_black"></div>
					<div class="media_common_header_date media_common_black"></div>
				</div>
			</div>
			<div class="media_best_book_content_wrapper">
				<div class="media_best_book_top_content">
					<!--		1위			-->
					<div class="media_best_book_content">
						<div class="media_best_book_img_wrapper">
							<img alt="" src="/resources/ict/img/dummy.svg" />
							<div>01</div>
						</div>
						<div class="media_best_book_text">
							<div class="media_best_book_title">강인함의 힘</div>
							<div class="media_best_book_information">스티브 매그니스 / 상상스퀘어 / 2024</div>
							<div class="media_best_book_summary">
								중대하고 험난한 고비 앞에서 진정한 강자가 되려면 어떤 자질을 어떻게 갖추어야 할까? 과학적 근거에 따라 새롭게 정의하는 진정한 강인함이란 무엇인가? 오랫동안 강인함은 최고의 성과를
								달성하기 위한 필수 요소이자, 불도저처럼 그저 밀고 나가는 이미지로 각인되었다. 우리는 다양한 삶의 고비 앞에서 무너지기 직전까지 자신을 몰아가는 방식을 장려하고 미화했으며, 약점을 보이면
								완전한 실패라고 여겼다. 이러한 ‘가짜’ 강인함은 실질적으로 효과가 없다.
							</div>
						</div>
					</div>
					<!--		2위			-->
					<div class="media_best_book_content">
						<div class="media_best_book_img_wrapper">
							<img alt="" src="/resources/ict/img/dummy.svg" />
							<div>01</div>
						</div>
						<div class="media_best_book_text">
							<div class="media_best_book_title">강인함의 힘</div>
							<div class="media_best_book_information">스티브 매그니스 / 상상스퀘어 / 2024</div>
							<div class="media_best_book_summary">
								중대하고 험난한 고비 앞에서 진정한 강자가 되려면 어떤 자질을 어떻게 갖추어야 할까? 과학적 근거에 따라 새롭게 정의하는 진정한 강인함이란 무엇인가? 오랫동안 강인함은 최고의 성과를
								달성하기 위한 필수 요소이자, 불도저처럼 그저 밀고 나가는 이미지로 각인되었다. 우리는 다양한 삶의 고비 앞에서 무너지기 직전까지 자신을 몰아가는 방식을 장려하고 미화했으며, 약점을 보이면
								완전한 실패라고 여겼다. 이러한 ‘가짜’ 강인함은 실질적으로 효과가 없다.
							</div>
						</div>
					</div>
				</div>
				<div class="media_best_book_bottom_content">
					<!--		3위 ~ 10위 / 8개 list item			-->
					<div class="media_best_book_list_item">
						<div class="media_best_book_list_item_img_wrapper">
							<img alt="" src="/resources/ict/img/dummy.svg" />
							<div>03</div>
						</div>
						<div class="media_best_book_list_item_title">당신이 누군가를 죽였다</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
